@charset "utf-8";

@media(max-width:1200px){
    .inner{width: 1000px;}
    .main > section{width: 690px;}
    #port_web.REd .web_inner > article{margin-bottom: 140px;}
    #port_web.REd .web_inner > article:last-child{margin-bottom: 70px;}
    #fix{bottom: 18px; right: 12px;}
}

@media(max-width:1024px){
    .header{display: none;}
    .inner{width: 100%; padding: 0 18px;}
    .main > section{width: 100%; padding: 42px;}
    #fix{bottom: 18px; right: 20px;}
    #fix p{width: 35px; height: 40px;}
    #fix p::before{font-size: 26px;}
    #port_web .web_inner > article .w_text{width: 220px;}
}

@media(max-width:720px){
    #introduce .pc_tit{font-size: 42px; margin-bottom: 30px; line-height: 1.4; word-break: keep-all;}
    #introduce > p{font-size: 15px; line-height: 1.5;}
    #about .ab_inner .in_txt > h3{margin-bottom: 10px;}
    #about .ab_inner .in_txt > p{line-height: 1.5; font-size: 15px;}
    #about .ab_inner .in_txt details summary{margin-bottom: 10px; font-size: 14px;}
    #about .ab_inner .in_txt details .sogae_tit,
    #about .ab_inner .in_txt details b{font-size: 16px; margin-bottom: 4px;}
    #about .ab_inner .in_txt details .sogae_text{font-size: 14px; line-height: 1.5; margin-bottom: 28px;}
    #about .ab_inner .in_txt .info ul li{margin-bottom: 8px;}

    #ex .ex_inner{padding: 60px 0px 20px 0px;}
    #ex.aw .ex_inner > article{margin-bottom: 12px;}
    #ex .ex_inner > article > .date{font-size: 15px;}
    #ex .ex_inner > article .ex_TXT h4{font-weight: 500;}
    #ex.aw .ex_inner > article .ex_TXT h4{font-size: 15px;}
    #ex .ex_inner > article .ex_TXT > p{font-size: 13px; line-height: 1.7; margin-top: 6px;}

    
    #port_web .web_inner > article .w_text{width: 100%;}
    #port_web .web_inner > article .w_text b{font-size: 22px; margin-bottom: 8px; display: block;}
    #port_web .web_inner > article .w_text .uu1{font-size: 14px; line-height: 1.5;}
    #port_web .web_inner > article .w_text .uu1 li em{padding: 3px 8px;    }
    #port_web .web_inner > article .w_text .uu1 li.tool > ul,
    #port_web .web_inner > article .w_text .uu1 li.page > ul{left: 65px; top: 0;}
    #port_web .web_inner > article .w_text .uu1 li.page{margin-bottom:60px;}
    #port_web .web_inner > article .w_text .uu1 li.tool > ul li,
    #port_web .web_inner > article .w_text .uu1 li.page > ul li{line-height: 1.4;}
    #port_web .web_inner > article .w_text details{padding: 110px 0px 0px 10px;}
    #port_web .web_inner > article:nth-of-type(3) .w_text details{padding: 70px 0px 0px 10px;}
    #port_web .web_inner > article .w_text details .sogae .myself1{font-size: 28px;}
    #port_web .web_inner > article .w_text details .sogae .myself2{font-size: 17px;}

    #port_etc .etc_inner .etc_wrap{line-height: 1.6;}
    #port_etc .etc_inner .etc_wrap em{font-size: 15px;}
}

@media(max-width:535px){
    .main > section{padding: 38px 32px;}
    #introduce .pc_tit{font-size: 36px;}
    #about .ab_inner{flex-direction: column; align-items: center;}
    #about .ab_inner > p{text-align: center; margin-bottom: 38px;}
    #about .ab_inner > p img{padding-left: 60px; width: 80%;}
    #about .ab_inner .in_txt > h3{margin-bottom: 4px;}
    #ex .ex_inner > article > .date{min-width: 110px;}
    #ex .ex_inner > article > .date em{display: block;}
    #ex .ex_inner .ex_bar{top: 12px; bottom: 0; left: 101px;} 

    #port_etc .etc_inner{gap: 18px;}
    #port_etc .etc_inner a{width: 100%;}
    #port_etc .etc_inner .etc_wrap{height: 140px;  padding-top: 30px;}
}

@media(max-width:480px){
    .inner{ padding: 0 10px;}
    .main > section{padding: 28px 16px;}
    #ex .ex_inner > article > .date,
    #ex .ex_inner > article .ex_TXT h4{font-size: 14px;}
    #ex .ex_inner > article .ex_TXT > p{font-size: 12px;}
    #port_web .web_inner > article .w_tit{
        width: 300px; height: 280px;
        padding: 10px 9px 121px 8px;
    }
}

@media(max-width:400px){
    #port_web .web_inner > article .w_tit{
        width: 250px; height: 230px;
        padding: 8px 8px 98px 7px;
    }
}

@media(max-width:360px){
    #port_web .web_inner > article .w_tit{
        width: 220px; height: 200px;
        padding: 7px 7px 84px 7px;
    }
}