@charset "UTF-8";

/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Poppins", sans-serif; */

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
/* font-family: 'Spoqa Han Sans Neo', 'sans-serif'; */

:root{
    --font_ENG:"Poppins";
    --font_KOR:"Spoqa Han Sans Neo";

    /* 기본 폰트 설정 */
    font-family: var( --font_ENG), var(--font_KOR);
    font-size: 16px;
    line-height: 1.5;

    font-synthesis: none; /* bold, italic을 못 쓰게 막아놓는 것을 해제하는 명령어 - 브라우저 속성 값에 따라 다름 */
    -webkit-font-smoothing : antialiased; /* 최적화 */
    -webkit-text-size-adjust : 100%; /* 아이폰 가로 모드에서 글씨 확대 금지 */

    --white : #fff;
    --black : #000;
    --black10 : #2b2b2b;
    --black20 : #434343;
    --black30 : #686868;
    --black40 : #e0e0e0;
    --black300 : rgba(0,0,0,0.3);
    --black500 : rgba(0,0,0,0.5);
    --black700 : rgba(0,0,0,0.7);
    --black900 : rgba(0,0,0,0.9);
    --active : #bbdefb; /* rgba(187,222,251) */
    --active_on : #fff59d;
    --sec02 : #e8eaf6;
    --sec03 : #ede7f6;

    --port01_C : #fff176;
    --port02_C : #c36ad7;
    --port03_C : #ff5400;

    --point1 : #3f58e5;
    --point2 : #69efc7;

    --mainBG : rgba(225,245,254,0.3);
}

/* 스크롤 설정 */
html::-webkit-scrollbar {width: 6px;}
html::-webkit-scrollbar-thumb {background-color: var(--black500); border-radius: 3px;}


/* reset */
*,
*:before,
*:after {
    box-sizing: border-box;
}

/* 공백 초기화 */
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
figure,
figcaption,
summary{
    margin: 0;
    padding: 0;
}

/* 링크 초기화 */
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

/* 스타일 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ul {
    list-style: none;
}

em,
address {
    font-style: normal;
}

strong {
    font-weight: normal;
}


img {
    /* vertical-align: top; */
    display: block;
    object-fit: cover;
}

/* body{overflow-x: hidden;} */

.clearfix::after,
.clearfix::before {
    content: "";
    display: block;
    clear: both;
}